* {
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
.container{
    height: 100%;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.story-container{
    margin-top : 10%;
    height: auto;
    width : 100%;
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    align-items: center;
    vertical-align: center;
    margin-bottom: 4%;
}
.story-title{
    height : 10%;
    width : auto;
    font-size: 1.7vw;
    text-align: center;
}
.story-box{
    border:solid;
    border-width: 1%;
    height: 100%;
    width: 30%;
    background-color: gray;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.story-title{
    border-bottom: solid;
    border-left: solid;
    width: auto;
    margin-left: auto;
    height: auto;
    text-align: center;
    font-size: 1.75em;
    padding: 1% 1%;
}
.story-description{
    width : 100%;
    height:100%;
    font-size: 1em;
    padding: 2%;
}
#heading {
	text-align: center;
	font-size: 1.75em;
	margin-top: 2%;
}
#story-title-1{
    background-color: palevioletred;

}
#story-title-2{
    background-color: red;
}
#story-title-3{
    background-color: burlywood;
}

@media only screen and (max-width: 911px) {
    .story-container {
        height: 100%;
        flex-wrap: wrap;
    }
    .story-box {
    	height: 100%;
    }
    #story-box-1, #story-box-2 {
    	height:35%;
        width : 48%;
        margin-bottom: 1%;
    }
    #story-box-3 {
    	height: auto;
        width : 100%;
        margin-bottom: 1%;
    }
    .story-description {
    	position: relative;
    	top:10%;
    	height: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
    .story-container{
        height: auto;
        flex-wrap: wrap;
    }
    #story-box-1 {
        width : 70%;
        margin-bottom: 2%;
    }
    #story-box-2{
        width : 70%;
        margin-bottom: 2%;
    }
    #story-box-3 {
        width : 70%;
        margin-bottom: 2%;
    }
  }